body li a {
    color: hsl(0, 0%, 10%);
}

body {
    /* color: black; */
    font-size: 16px;
    margin: 40px auto 0px auto;
    width: 100%;
    /* width: 600px; */
    text-align: center;
    font-family: Helvetica;
    /* background-color: #0014A8; */
    background-color: hsl(243, 69%, 69%);
}

h1 {
    font-family: "Satisfy";
    text-align: center;
    /* border: dotted; */
    border-bottom: dotted 2px;
    /* margin-top: 1em; */
    /* padding-top: 1em; */
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

#footer {
    bottom: 0;
    /* margin: 100px; */
}

ul {
    padding: 0;
    margin: 0;
    padding: 0px 0px;
    background-color: hsl(243,69%,80%);
    list-style-type: none;
    /* overflow: hidden; */
}

/* .active { */
/*     background-color: hsl(243, 69%, 50%); */
/* } */

li {
    display: inline;
    /* border: solid; */
    /* border-color: black; */
}

li a {
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

li a:hover {
    color: hsl(0,0%,100%);
    background-color: hsl(243, 69%, 50%);
}

