body li a.button {
    color: hsl(0, 0%, 10%);
}

a {
    color: hsl(60, 80%, 80%);
}

a:hover {
    color: hsl(70, 80%, 100%);
}


body {
    /* color: black; */
    font-size: 20px;
    margin: 40px auto 0px auto;
    /* width: 600px; */
    text-align: center;
    font-family: Helvetica;
    /* background-color: #0014A8; */
    background-color: hsl(243, 69%, 69%);
}

#index {
    font-family: Pacifico;
    text-align: center;
}

.content {
    text-align: left;
    display: inline-block;
    width: 600px;
    font-size: 30px;
}

h1 {
    margin-bottom: 10px;
    font-family: Satisfy;
    font-size: 80px;
    text-align: center;
    /* border: dotted; */
    border-bottom: dotted 2px;
    /* padding-top: 1em; */
}

h2 {
    font-family: Satisfy;
    /* font-size: 30px; */
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

#footer {
    font-family: monospace;
    bottom: 0;
    text-align: right;
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 10px
}

ul {
    padding: 0;
    margin: 0;
    padding: 0px 0px;
    background-color: hsl(243,69%,80%);
    list-style-type: none;
    /* overflow: hidden; */
}

li {
    display: inline;
    /* border: solid; */
    /* border-color: black; */
}

li a {
    display: inline-block;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

li a.button:hover {
    color: hsl(0,0%,100%);
    background-color: hsl(243, 69%, 50%);
}

a#headline {
    color: inherit;
    text-decoration: inherit;
}

/* ratio is 45.33 wide to 34 high */
img#samplusmax {
    height: 400px;
    width: 530px;
}

.topimage {
    text-align: center;
}

img#room1520 {
    width: 200px;
    float: center;
}

blockquote {
    text-align: center;
}
