<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$title$</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/$stylesheet$.css"/>
    <link rel="icon" href="/images/favicon.png"/>
  </head>
  <body>
    <div id="header">
      <ul>
        <li><a class="button" href="/">Home</a></li>
        <li><a class="button" href="about.html">About Us</a></li>
        <li><a class="button" href="venue.html">Venue</a></li>
        <li><a class="button" href="hotel.html">Hotel</a></li>
        <li><a class="button" href="schedule.html">Schedule</a></li>
        <!-- <li><a href="hone">Honeymoon</a></li> -->
      </ul>
    </div>
    <h1><a id="headline" href="/">Sam + Max</a></h1>
    <div class="content">
      $body$
    </div>
    <div id="footer">
      Website designed by Max S. New.
    </div>
  </body>
</html>
